<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BAMster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <BAMster.Properties.Settings>
            <setting name="bamstats_gui" serializeAs="String">
                <value>S:\Research-Development\NEXT GENERATION SEQUENCING\tools\BAMStats-1.25\jar\BAMStats-GUI-1.25.jar</value>
            </setting>
            <setting name="bamstats_api" serializeAs="String">
                <value>S:\Research-Development\NEXT GENERATION SEQUENCING\tools\BAMStats-1.25\jar\BAMStats-API-1.25.jar</value>
            </setting>
        </BAMster.Properties.Settings>
    </userSettings>
</configuration>